<!DOCTYPE>
<html>
    <body>
        <p>Hello <%= "#{ @cust } "%>,</p> </br> </br>
      <p>Thank you for contacting DevMatch. We will respond to your query as 
      soon as possible.</p></br>
    </body>
</html>